@using StretchCeilingProject.Common
@using StretchCeilingProject.Entity
@model IEnumerable<IGrouping<StretchCeilingProject.Entity.CellingCategory, StretchCeilingProject.Entity.Celling>>

@{
    ViewBag.Title = "СтройТрест - натяжные потолки - цены";
    ViewBag.Description = "СтройТрест Строй Трест - цены на потолки, ремонт потолка в Саратове, заказ потолка";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>Price</h2>

<article class="col-xs-12">
    <ul class="nav nav-tabs cellings" role="tablist" id="myTabExample">
        @foreach (var pair in Model)
        {
            if (pair.Key == CellingCategory.Celling)
            {
                continue;
            }

            <li><a href="#@pair.Key" role="tab" data-toggle="tab">@pair.Key.GetName()</a></li>
        }
    </ul>

    <div class="tab-content ">
        @foreach (var pair in Model)
        {
            if (pair.Key == CellingCategory.Celling)
            {
                continue;
            }

            <div class="tab-pane active row" id="@pair.Key">
                @if (pair.Key == CellingCategory.Another || 
                    pair.Key == CellingCategory.Construction)
                {
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Наименование</th>
                            <th>Ед.изм.</th>
                            <th>Стоимость (₽)</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var celling in pair)
                        {
                            <tr>
                                <td>@celling.Title</td>
                                <td>@celling.Description</td>
                                <td>@celling.Cost</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }

                
            </div>

        }
    </div>
</article>