@using StretchCeilingProject.Common
@using StretchCeilingProject.Entity
@model IEnumerable<IGrouping<StretchCeilingProject.Entity.CellingCategory, StretchCeilingProject.Entity.Celling>>

@{
    ViewBag.Title = "Price";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";

}

<h2>Price</h2>

<article class="col-xs-12">
    <span>Наша компания</span>

    <span>Наши преимущества </span>

    <span>Мы предлагаем натяжные потолки:</span>

    <ul class="nav nav-tabs cellings" role="tablist" id="myTabExample">
        @foreach (var pair in Model)
        {
            <li><a href="#@pair.Key" role="tab" data-toggle="tab">@pair.Key.GetName()</a></li>
        }
    </ul>

    <div class="tab-content ">
        @foreach (var pair in Model)
        {
            <div class="tab-pane active row" id="@pair.Key">
                @foreach (var celling in pair)
                {
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="celling">
                            <h3 class="cellingDescription">@celling.Title</h3>
                            <img src="@Url.Action("Get", "Image", new {imageId = celling.ImageId})" alt="Image" />
                            <div>
                                <span>@celling.Description</span>
                            </div>
                        </div>
                    </div>
                }

                @if (pair.Key == CellingCategory.Celling)
                {

                    <div class="col-xs-12 examples">
                        <h3>Примеры наших работ</h3>

                        @foreach (var imageId in Constant.CarouselImagesIds)
                        {
                            <div class="item col-sm-6 col-xs-12">
                                <img src="@Url.Action("Get", "Image", new {imageId = imageId})" alt="carouselImage">
                            </div>
                        }
                    </div>
                }
            </div>

        }
    </div>
</article>