@using StretchCeilingProject.Common
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="e68c1e91130def8e" />
    <meta name="description" content="@ViewBag.Description"/>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/colorTheme.css" rel="stylesheet" />
    <link href="~/Content/commonStyleSheet.css" rel="stylesheet" />
</head>
<body>

    <header class="col-lg-8 col-lg-offset-2 col-md-12 clearfix">
        <nav class="navbar navbar-default">
            <div class="centred callme">
                <span>ВЫЗОВ ЗАМЕРЩИКА</span>
                <img src="https://psv4.vk.me/c810133/u50666290/docs/e5f6fe4f8f47/zvonok.png" />
            </div>

            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">СтройТрест</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li data-name="Index">@Html.ActionLink("Главная", "Index", "Home")</li>
                        <li data-name="Price">@Html.ActionLink("Цены", "Price", "Home")</li>
                        <li data-name="Contacts">@Html.ActionLink("Контакты", "Contacts", "Home")</li>
                        <li data-name="Contacts">@Html.ActionLink("Отзывы", "Reviews", "Home")</li>
                    </ul>
                    <a class="navbar-brand" style="float: right" href="#">Телефон: +7-919-825-25-84</a>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>

<div class="col-lg-8 col-lg-offset-2 col-md-12 hidden-xs clearfix">
    
    <h1 class="marquee"><span>НАТЯЖНЫЕ ПОТОЛКИ от 250 кв.м</span></h1>

    <div id="myCarousel" class="carousel slimageIde" data-rimageIde="carousel">
        <!-- Wrapper for slimageIdes -->
        <div class="carousel-inner" role="listbox">

            @foreach (var imageUrl in Constant.CarouselImagesUrls)
            {
                <div class="item col-xs-6 col-xs-offset-3">
                    <img src="@imageUrl" alt="carouselImage">
                </div>
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slimageIde="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-himageIdden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel" role="button" data-slimageIde="next">
            <span class="glyphicon glyphicon-chevron-right" aria-himageIdden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<article class="col-lg-8 col-lg-offset-2 col-md-12 clearfix">
    @RenderBody()
</article>
    
        @*@using (Html.BeginForm("Add", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />

            <input type="submit" value="Go" />
        }*@

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/commonJavaScript.js"></script>
</body>
</html>